In [117]:
import pandas as pd

In [118]:
url="https://raw.githubusercontent.com/DemonicAK/ML_Tutorial/master/data/pokemon_data.csv?token=GHSAT0AAAAAACCXCGBZMSBB3LHX2X37KAZ2ZDIZLTA"
poke = pd.read_csv(url)

In [119]:
poke.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [120]:
#read headers

poke.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [121]:
##Read each column


# poke['Name']
# poke.Name


# poke[['Name','Type 1','HP']] #double brackets to get a dataframe




# poke['Name','Type 1','HP'] #error

In [122]:
#read each row

poke.head(4)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [123]:
poke.iloc[0:4] #iloc is integer location

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [124]:
poke.loc[poke['Type 1'] == 'Grass'] #loc is location

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
110,102,Exeggcute,Grass,Psychic,60,40,80,60,45,40,1,False
111,103,Exeggutor,Grass,Psychic,95,95,85,125,65,55,1,False
122,114,Tangela,Grass,NaN,65,55,115,100,40,60,1,False
166,152,Chikorita,Grass,NaN,45,49,65,49,65,45,2,False
167,153,Bayleef,Grass,NaN,60,62,80,63,80,60,2,False
168,154,Meganium,Grass,NaN,80,82,100,83,100,80,2,False
197,182,Bellossom,Grass,NaN,75,80,95,90,100,50,2,False
202,187,Hoppip,Grass,Flying,35,35,40,35,55,50,2,False
203,188,Skiploom,Grass,Flying,55,45,50,45,65,80,2,False
204,189,Jumpluff,Grass,Flying,75,55,70,55,95,110,2,False
206,191,Sunkern,Grass,NaN,30,30,30,30,30,30,2,False
207,192,Sunflora,Grass,NaN,75,75,55,105,85,30,2,False
272,252,Treecko,Grass,NaN,40,45,35,65,55,70,3,False
273,253,Grovyle,Grass,NaN,50,65,45,85,65,95,3,False
274,254,Sceptile,Grass,NaN,70,85,65,105,85,120,3,False
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False
296,273,Seedot,Grass,NaN,40,40,50,30,30,30,3,False
297,274,Nuzleaf,Grass,Dark,70,70,40,60,40,60,3,False
298,275,Shiftry,Grass,Dark,90,100,60,90,60,80,3,False
309,285,Shroomish,Grass,NaN,60,40,60,40,60,35,3,False
310,286,Breloom,Grass,Fighting,60,130,80,60,60,70,3,False
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False
362,331,Cacnea,Grass,NaN,50,85,40,85,40,35,3,False
363,332,Cacturne,Grass,Dark,70,115,60,115,60,55,3,False
390,357,Tropius,Grass,Flying,99,68,83,72,87,51,3,False
432,387,Turtwig,Grass,NaN,55,68,64,45,55,31,4,False
433,388,Grotle,Grass,NaN,75,89,85,55,65,36,4,False
434,389,Torterra,Grass,Ground,95,109,105,75,85,56,4,False
451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False
467,420,Cherubi,Grass,NaN,45,35,45,62,53,35,4,False
468,421,Cherrim,Grass,NaN,70,60,70,87,78,85,4,False
505,455,Carnivine,Grass,NaN,74,100,72,90,72,46,4,False
509,459,Snover,Grass,Ice,60,62,50,62,60,40,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
516,465,Tangrowth,Grass,NaN,100,100,125,110,50,50,4,False
521,470,Leafeon,Grass,NaN,65,110,130,60,65,95,4,False
550,492,ShayminLand Forme,Grass,NaN,100,100,100,100,100,100,4,True
551,492,ShayminSky Forme,Grass,Flying,100,103,75,120,75,127,4,True
554,495,Snivy,Grass,NaN,45,45,55,45,55,63,5,False
555,496,Servine,Grass,NaN,60,60,75,60,75,83,5,False
556,497,Serperior,Grass,NaN,75,75,95,75,95,113,5,False
570,511,Pansage,Grass,NaN,50,53,48,53,48,64,5,False
571,512,Simisage,Grass,NaN,75,98,63,98,63,101,5,False
606,546,Cottonee,Grass,Fairy,40,27,60,37,50,66,5,False
607,547,Whimsicott,Grass,Fairy,60,67,85,77,75,116,5,False
608,548,Petilil,Grass,NaN,45,35,50,70,50,30,5,False
609,549,Lilligant,Grass,NaN,70,60,75,110,75,90,5,False
617,556,Maractus,Grass,NaN,75,86,67,106,67,60,5,False
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False
658,597,Ferroseed,Grass,Steel,44,50,91,24,86,10,5,False
659,598,Ferrothorn,Grass,Steel,74,94,131,54,116,20,5,False
701,640,Virizion,Grass,Fighting,91,90,72,90,129,108,5,True
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [125]:
poke.describe()  #describe stats

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [126]:
pok=poke.sort_values('Name',ascending=False) #sort by name
pok

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [127]:
poke_sort = poke.sort_values(['Type 1','HP'],ascending=[True,True]) #sort by Type 1 and HP

In [128]:
poke_sort

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
314,290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False

make changes to data

In [129]:
poke.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [130]:
poke['Total'] = poke['HP'] + poke['Attack'] + poke['Defense'] + poke['Sp. Atk'] + poke['Sp. Def'] + poke['Speed']

poke = poke.drop(columns=['Total'])
poke ['Total'] = poke.iloc[:,4:10].sum(axis=1)





poke.head(5)  
# pop1=poke.sort_values('Total',ascending=False)
# pop1.iloc[0]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [131]:
poke.to_csv('data/modified.csv',index=False)

filtering data

In [132]:
poke.loc[poke['Type 1']=='Fire' ]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False,299
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False,505
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False,350
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False,555
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False,410
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False,500
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False,495
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False,525
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True,580
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False,309
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False,405
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False,534
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False,250
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False,410
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False,365
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True,580
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True,680
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False,310
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False,405
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False,530
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False,630
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False,305
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False,460
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False,560
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False,470
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False,309
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False,405
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False,534
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False,540
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True,600
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False,308
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,418
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False,528
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False,316
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False,498
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False,315
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False,480
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False,540
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False,484
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False,307
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False,409
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False,534
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False,382
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False,499
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False,369
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False,507
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [133]:
new = poke.loc[(poke['Type 1']=='Fire' ) & (poke['Type 2']=='Flying') & (poke['HP']>70)]
new.reset_index(drop=True, inplace=True)

In [134]:
new

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
1,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
2,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True,580
3,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True,680
4,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False,499

In [135]:
c=poke.loc[poke['Name'].str.contains('Mega')]
c

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False,630
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False,495
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False,590
87,80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,1,False,590
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False,600
124,115,KangaskhanMega Kangaskhan,Normal,NaN,105,125,100,60,100,100,1,False,590
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
141,130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,False,640
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False,615
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
168,154,Meganium,Grass,NaN,80,82,100,83,100,80,2,False,525
196,181,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,2,False,610
224,208,SteelixMega Steelix,Steel,Ground,75,125,230,55,95,30,2,False,610
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False,600
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False,600
248,229,HoundoomMega Houndoom,Dark,Fire,75,90,90,140,90,115,2,False,600
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False,700
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False,630
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False,630
283,260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,3,False,635
306,282,GardevoirMega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,3,False,618
327,302,SableyeMega Sableye,Dark,Ghost,50,85,125,85,115,20,3,False,480
329,303,MawileMega Mawile,Steel,Fairy,50,105,125,55,95,50,3,False,480
333,306,AggronMega Aggron,Steel,NaN,70,140,230,60,80,50,3,False,630
336,308,MedichamMega Medicham,Fighting,Psychic,60,100,85,80,85,100,3,False,510
339,310,ManectricMega Manectric,Electric,NaN,70,75,80,135,80,135,3,False,575
349,319,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,3,False,560
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False,560
366,334,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,3,False,590
387,354,BanetteMega Banette,Ghost,NaN,64,165,75,93,83,75,3,False,555
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False,565
397,362,GlalieMega Glalie,Ice,NaN,80,120,80,120,80,100,3,False,580
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False,700
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,3,False,700
418,380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,3,True,700
420,381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,3,True,700
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780
476,428,LopunnyMega Lopunny,Normal,Fighting,65,136,94,54,96,135,4,False,580
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False,700
498,448,LucarioMega Lucario,Fighting,Steel,70,145,88,140,70,112,4,False,625
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,594
527,475,GalladeMega Gallade,Psychic,Fighting,68,165,95,65,115,110,4,False,618
591,531,AudinoMega Audino,Normal,Fairy,103,60,126,80,126,50,5,False,545
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700

In [136]:
d=poke.loc[~poke['Name'].str.contains('Mega')]
d

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

regex support

In [137]:
jk=poke.loc[poke['Type 1'].str.contains('Fire|Grass',regex=True)]
jk

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False,369
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False,507
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False,350
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False,531
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [138]:
import re
pok = poke.loc[poke['Name'].str.contains('^pi[a-z]*',flags=re.I,regex=True)]

In [139]:
pok

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False,251
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False,349
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False,479
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False,320
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False,500
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False,600
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,205
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False,290
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False,450
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False,314
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False,418
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False,264

conditional changes

In [140]:
# poke.loc[poke['Type 1']=='Fire','Type 1']='Flamer'

# poke.loc[poke['Type 1']=='Flamer','Legendary']=True

In [141]:
poke.loc[poke['Type 1']=='Flamer' ]

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary, Total]
Index: []

In [142]:
poke=pd.read_csv('data/modified.csv')

In [143]:
poke.loc[poke['Total']>500,['Generation','Legendary']]=['Test 1','Test 2']

In [144]:
poke

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,Test 1,Test 2,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,Test 1,Test 2,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,Test 1,Test 2,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,Test 1,Test 2,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,Test 1,Test 2,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,Test 1,Test 2,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,Test 1,Test 2,600

In [145]:
poki=pd.read_csv('data/modified.csv')
poki

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [146]:
# poki.groupby(['Type 1']).mean().sort_values('HP',ascending=False)

In [147]:
poki.groupby(['Type 1']).sum()

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,,,
Bug,23080,CaterpieMetapodButterfreeWeedleKakunaBeedrillB...,FlyingPoisonPoisonPoisonPoisonGrassGrassPoison...,3925,4897,4880,3717,4471,4256,222,0,26146
Dark,14302,UmbreonMurkrowSneaselHoundourHoundoomHoundoomM...,FlyingIceFireFireFireGhostGhostFlyingIceFighti...,2071,2740,2177,2314,2155,2361,125,2,13818
Dragon,15180,DratiniDragonairDragoniteAltariaAltariaMega Al...,FlyingFlyingFairyFlyingFlyingPsychicPsychicPsy...,2666,3588,2764,3099,2843,2657,124,12,17617
Electric,15994,PikachuRaichuMagnemiteMagnetonVoltorbElectrode...,SteelSteelFlyingDragonSteelGhostFireWaterIceFl...,2631,3040,2917,3961,3243,3718,144,4,19510
Fairy,7642,ClefairyClefableCleffaTogepiTogeticSnubbullGra...,FlyingFlying,1260,1046,1117,1335,1440,826,70,1,7024
Fighting,9824,MankeyPrimeapeMachopMachokeMachampHitmonleeHit...,PsychicPsychicPsychicSteelSteelDarkFlying,1886,2613,1780,1434,1747,1784,91,0,11244
Fire,17025,CharmanderCharmeleonCharizardCharizardMega Cha...,FlyingDragonFlyingFlyingRockFlyingFightingFigh...,3635,4408,3524,4627,3755,3871,167,5,23820
Flying,2711,TornadusIncarnate FormeTornadusTherian FormeNo...,DragonDragon,283,315,265,377,290,410,22,2,1940
Ghost,15568,GastlyHaunterGengarGengarMega GengarMisdreavus...,PoisonPoisonPoisonPoisonFlyingFlyingDarkDragon...,2062,2361,2598,2539,2447,2059,134,2,14066
Grass,24141,BulbasaurIvysaurVenusaurVenusaurMega VenusaurO...,PoisonPoisonPoisonPoisonPoisonPoisonPoisonPois...,4709,5125,4956,5425,4930,4335,235,3,29480
Ground,11401,SandshrewSandslashDiglettDugtrioCuboneMarowakR...,RockRockFlyingDragonDragonPsychicPsychicFireRo...,2361,3064,2715,1807,2008,2045,101,4,14000
Ice,10165,JynxArticunoSwinubPiloswineDelibirdSmoochumSno...,PsychicFlyingGroundGroundFlyingPsychicWaterWat...,1728,1746,1714,1861,1831,1523,85,2,10403
Normal,31279,PidgeyPidgeottoPidgeotPidgeotMega PidgeotRatta...,FlyingFlyingFlyingFlyingFlyingFlyingFairyFairy...,7573,7200,5865,5470,6245,7012,299,2,39365
Poison,7050,EkansArbokNidoran (Female)NidorinaNidoqueenNid...,GroundGroundFlyingFlyingFlyingDarkDarkBugDarkF...,1883,2091,1927,1692,1803,1780,71,0,11176
Psychic,21706,AbraKadabraAlakazamAlakazamMega AlakazamDrowze...,FairyFightingFlyingFlyingFlyingGrassFairyFairy...,4026,4073,3858,5609,4918,4645,193,14,27129
Rock,17280,GeodudeGravelerGolemOnixOmanyteOmastarKabutoKa...,GroundGroundGroundGroundWaterWaterWaterWaterFl...,2876,4086,4435,2787,3321,2460,152,4,19965
Steel,11957,SteelixSteelixMega SteelixSkarmoryMawileMawile...,GroundGroundFlyingFairyFairyRockRockRockPsychi...,1761,2503,3412,1823,2177,1492,104,4,13168
Water,33946,SquirtleWartortleBlastoiseBlastoiseMega Blasto...,FightingPoisonPoisonPsychicPsychicPsychicIceIc...,8071,8305,8170,8379,7898,7388,320,4,48211

In [148]:
poki.groupby(['Type 1']).count()

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112

In [149]:
new_pko = poki.groupby(['Type 1','Type 2']).count()['#']
new_pko

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: #, Length: 136, dtype: int64

In [150]:
new_pok=pd.DataFrame(columns=poki.columns)

for pokr in pd.read_csv('data/modified.csv',chunksize=5):
    #print(poki)
    # print(poki[1])
    
    # new_pok=new_pok.append(poki[1].sort_values('HP',ascending=False).head(1))
    
    results=pokr.groupby(['Type 1']).count()
    # new_pok=new_pok.append(results)
    new_pok=pd.concat([new_pok,results])
    
    
new_pok

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Fire,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Grass,4,4,NaN,4,4,4,4,4,4,4,4,4,4
Fire,4,4,NaN,3,4,4,4,4,4,4,4,4,4
Water,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Bug,2,2,NaN,0,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fairy,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Flying,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Fire,1,1,NaN,1,1,1,1,1,1,1,1,1,1
Psychic,2,2,NaN,2,2,2,2,2,2,2,2,2,2
Rock,2,2,NaN,2,2,2,2,2,2,2,2,2,2

In [151]:
pd.options.display.max_rows=100